[{
  "nickname": "ENV-NICK",
  "server": "ENV-SERVER",
  "token": "ENV-TOKEN",
  "ircOptions": {
    "userName": "ENV-BOTNICK",
    "password": "ENV-BOTPASSWD",
    "sasl": true
  },
  "autoSendCommands": [
    ["PRIVMSG", "NickServ", "IDENTIFY ENV-BOTNICK ENV-BOTPASSWD"]
  ],
  "channelMapping": {
    "ENV-SLACKCHAN": "ENV-IRCCHAN"
  },
  "commandCharacters": ["!", "."]
}]